
body {
    background: url(../images/fondo.jpg)no-repeat;
    background-size: cover;
    width: 98%;
    color:#efefef;
}

.X{border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;}


footer {
    background-color: rgb(0, 0, 0);
      font-family: 'Alfa Slab One', cursive;
      height: 20px;
}

h1,h2 {
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -4px 3px 2px rgba(0,0,0,0.6);
}

.hero {
    background: url(../images/pp.jpg)no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: white;
}

.parrr{
    font-family: 'Open Sans', sans-serif; 
    background-color: rgba(28, 24, 24, 0.5);
    padding: 10px;
    display: inline-block;
   
}

.ti{ text-shadow: 3px 8px 0px rgba(0,0,0,0.65);
    font-family: 'Alfa Slab One', cursive;
    border-radius: 115px 115px 115px 115px;
    -webkit-border-radius: 115px 115px 115px 115px;
    -moz-border-radius: 115px 115px 115px 115px;
}

.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tt{color: #efefef;

}

.lista-novedades li {
    margin: 4px 0;
}

.lista-novedades li a {
    background-color: rgb(0, 0, 0, 0.62);
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all .2s ease-in-out;
    color: beige;
    display: block
}



.lista-novedades li a:hover {
    color: beige;
    background-color: #dadada;

}

.lista-novedades li a img {

    height: 80px;

    filter: grayscale();

    width: 60px;
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 1;

}



.lista-novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

.historia{background-color: #efefef;

}


.testimonios {

    
    background: url(../images/33.jpg)no-repeat;
    background-size: cover;

    padding-bottom: 4rem !important;
}

.testimonio {
    text-align: center;
    
    padding: 79px ;


}

.staff {
    background-color: #efefef;
}

.mapa iframe {

    width: 100%;

    aspect-ratio: 1.1;

}
.ll{padding-left: 10px;}

.parr{
    font-family: 'Alfa Slab One', cursive;
}

.negro{

    color: black;
   text-shadow: none;
}

.prueba{font-family: 'Open Sans', sans-serif; }

.t{
    font-family: 'Alfa Slab One', cursive;
     padding-left: 10px;}

     .c{color: wheat;}

     